* {
  box-sizing: border-box;
}
.root {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  font-family: "Afacad", sans-serif;
}
body {
  background-color: #617c80;
}

/* 
font-family: "Abril Fatface", serif; */
